<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="text-align: center;">
            <h1>Please reinput your Data and dont forget to Upload your File</h1>
        </div>
    </div>
</div>