<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="text-align: center;">
            <h1>Successfully Create Account</h1>
            <h3>Check your email for Verification</h3>
        </div>
    </div>
</div>