
<style>
  .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnx {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
</style>

<!DOCTYPE html>
<html>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h2><b>Employee Leave Form</b></h2>
        <p>Be Careful with Sensitive Data Information and Privacy</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:130px; height: 275px">
  <h5 class="w3-bar-item">Biodata</h5>
  <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Fade')">Form</button>
</div>

<form method="POST" enctype="multipart/form-data">
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <button asp-action="ClockOut" asp-controller="Attendance" class="btn btn-success">Send</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href ='/Attendance'">Cancel</button>
    </div>
  </div>
</div>
<br>
<br>

<div style="margin-left:170px">
  <div class="w3-padding"><b>Fill this form completely and correct</b></div>

  <div id="Fade" class="w3-container city w3-animate-left" style="display:none">
    <h2>Form</h2>
    <div class="row">
      <div class="col">
        <label>Full Name</label>
        <input class="form-control" placeholder="Name" id="name" name="name" required>
      </div>
    <br>

    <div class="row">
      <div class="col">
        <label>ClockOutn</label>
        <input class="form-control" type="datetime-local" placeholder="date" id="date" name="date" required>
      </div>
  </div>
</div>
<br>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>

<script>
function openLink(evt, animName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(animName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>

</body>
</html>