<h1>Add Job</h1>

<form method="POST" enctype="multipart/form-data" asp-action="AddedJob" asp-controller="Home">
<input id="title" name="title" placeholder="title">
<input id="description" name="description" placeholder="description">
<input id="requirement" name="requirement" placeholder="requirement">
<input id="informations" name="informations" placeholder="informations">
<input type="file" id="flyer" name="flyer" placeholder="flyer">
<input id="stardate" name="stardate" placeholder="stardate">
<input id="enddate" name="enddate" placeholder="enddate">
<input type="submit">
</form>