<h1>Login</h1>

<label>User</label>
<form method="POST" asp-action="Index" asp-controller="Home">
<input id="category" name="category" value="user" hidden>
<input id="username" name="username" placeholder="username">
<input type="password" name="password" id="password" placeholder="password">
<input type="submit">
</form>

<label>Company</label>
<form method="POST" asp-action="Index" asp-controller="Home">
<input id="category" name="category" value="company" hidden>
<input id="username" name="username" placeholder="username">
<input type="password" name="password" id="password" placeholder="password">
<input type="submit">
</form>

<label>Administrator</label>
<form method="POST" asp-action="Index" asp-controller="Home">
<input id="category" name="category" value="administrator" hidden>
<input id="username" name="username" placeholder="username">
<input type="password" name="password" id="password" placeholder="password">
<input type="submit">
</form>
<button onclick="window.location.href='/Home/Register?category=user'">Register User</button>
<button onclick="window.location.href='/Home/Register?category=company'">Register Company</button>